@(searchQuery: String, resultsSearch: List[Question])

<table class="table-striped table" xmlns="http://www.w3.org/1999/html">
		@for(question <- resultsSearch){
			<tr>
				<td>
					<a href="@routes.Questions.show(question.id)">@question.title</a>
				</td>
				<td>
					<span>@question.owner.userName</span>
				</td>
				<td>
					<span id="created-date-@question.id">Created:
                        <script type="text/javascript">
                            $(function() {
                                var date = '@question.createdAsString()';
                                var lastweek = moment().subtract('days',7);
                                var qdate = moment(date, 'DD/MM/YYYY HH:mm');
                                if(qdate.isBefore(lastweek)) {
                                    $("#created-date-@question.id").append(date);
                                } else {
                                    $("#created-date-@question.id").append(qdate.fromNow());
                                }
                            });
                        </script>
                    </span>
				</td>
				<td>
					<span class="glyphicon glyphicon-star-empty">@question.rating()</span>
				</td>
				</tr>
		}
	</table>
