@(searchQuery: String, resultsSearch: List[Question])

<table class="table-striped table" xmlns="http://www.w3.org/1999/html">
		@for(question <- resultsSearch){
			<tr>
				<td>
					<a href="@routes.Questions.show(question.id)">@question.title</a>
				</td>
				<td>
					<span>@question.owner.userName</span>
				</td>
				<td>
					<span id="created-date-@question.id">Created:
                    </span>
                    <span data-date="@question.createdAsString()"></span>
				</td>
				<td>
					<span class="glyphicon glyphicon-star-empty">@question.rating()</span>
				</td>
			</tr>
		}
	</table>
