@(question: Question, rating: Int, canVote: Boolean, form: Form[Answer]) 
@main("Question") {
<div>
	<table class="table table-striped">
		<tr>
			<td>
				<h2>@question.title</h2>
			</td>
		</tr>
		<tr>
			<td><span>By: @question.owner.userName at
					@question.createdAsString()</span> 
				<span class="glyphicon glyphicon-star-empty">@rating</span>
				@if(canVote) { 
					<a href="@routes.Questions.rate(question.id)">
						<span class="glyphicon glyphicon-star-empty">Rate</span>
					</a>
				}
			</td>
		</tr>
		<tr>
			<td>
				<p>@question.text</p>
			</td>
		</tr>
	</table>
	<!-- Answers -->
	
	<div>
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- Form to answer -->
				@helper.form(action = routes.Answers.create(question.id)) {
			    	
				   	<div class="form-group">
				   		@helper.textarea(form("text"),
				   			'class -> "form-control",
				   			'_label -> "Answer")
				   	</div>
				    	
			    	<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-share-alt"></span> Answer
					</button>
				}
			</div>
		</div>
	</div>
	
	<div>
		@for(answer <- question.answers) {
			<div class="panel panel-default">
				<div class="panel-heading">@answer.owner.userName @answer.createdAsString()
					<span class="glyphicon glyphicon-star-empty">@answer.rating()</span>
					<a href="@routes.Answers.rate(answer.id)">
						<span class="glyphicon glyphicon-star-empty">Rate</span>
					</a>
				</div>
				<div class="panel-body">
					@answer.text
				</div>
			</div>
		}
	</div>
		
</div>
}
