@(question: Question, rating: Int, canVote: Boolean)

@main("Question") {
	<div>
		<table class="table table-striped">
  			<tr>
  				<td>
  					<h2>@question.title</h2>
  				</td>
  			</tr>
  			<tr>
  				<td>
  					<span>By: @question.owner.userName at @question.createdAsString()</span>
  					<span class="glyphicon glyphicon-star-empty">@rating</span>
  				</td>
  			</tr>
  			<tr>
  				<td>
  					<p>@question.text</p>
  				</td>
  			</tr>
  			<tr>
  				<td>
  					<div class="btn-group">
  						<a href="">
    						<button type="button" class="btn btn-primary">
    							<span class="glyphicon glyphicon-share-alt"></span>
    							Answer
    						</button>
    					</a>
  					</div>
  					@if(canVote) {
  					<div class="btn-group">
  						<a href="@routes.Questions.rate(question.id)">
    						<button type="button" class="btn btn-success">
    							<span class="glyphicon glyphicon-thumbs-up"></span>
    							Rate
    						</button>
    					</a>
  					</div>
  					}
  				</td>
  			</tr>
  			<!-- Answers -->
  			<tr>
  				<table class="table table-bordered">
  					@for(answer <- question.answers) {
  						<tr>
  							<td>
  								<span>answer.text</span>  							
  							</td>
  						</tr>
  						<tr>
  							<td>
  								<span>answer.owner</span>  							
  							</td>
  						</tr>
  						<tr>
  							<td>
  								<span></span>
  							</td>
  						</tr>
  					}  					
  				</table>
  			</tr>
		</table>
		
	</div>
}