@(newQuestionForm: Form[Question])

@main("Create a new question"){
	
	@helper.form(action = routes.Questions.create()) {
	   
	   <div class="form-group">
	   		@helper.inputText(newQuestionForm("title"), 'class -> "form-control", '_label -> "title", 'placeholder -> "Question title here")
	   </div>
	   
	   <div class="form-group">
	   		 @helper.inputText(newQuestionForm("text"), 'class -> "form-control", '_label -> "text", 'placeholder -> "Question title here")
	   </div> 
	    
	   <button type="submit" class="btn btn-default"> Ask. </button>
	   
	 }
 
 }